html {
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}
.main {
  display: grid;
  text-align: center;
  width: 1500px;
  margin: 100px auto;
}
.main h1 {
  font-size: 6.2rem;
  font-weight: 500;
}
.tours {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: start;
}
.tour {
  width: 450px;
  list-style: none;
  position: relative;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.tour h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.tour p {
  font-size: 2.4rem;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.tour-info-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tour-info-full {
  display: block;
  overflow: visible;
  -webkit-line-clamp: unset;
}
.tour img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.tour button {
  border: 3px rgb(40, 228, 62) solid;
  border-radius: 5px;
  font-size: 2rem;
  margin-top: 30px;
  padding: 5px;
  color:  rgb(40, 228, 62);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}
.tour h3{
  margin-top: 15px;
  font-size: 2.2rem;
  text-align: left;
  margin-left: 20px;
  color: rgb(40, 228, 62);
  cursor: pointer;
}
.tour button:hover {
  color: white;
  background-color: rgb(40, 228, 62);
  transition: 0.3s ease-in-out;
}
.tour h4 {
  position: absolute;
  z-index: 1;
  top: 0px;
  font-size: 4rem;
  background-color:  rgb(40, 228, 62);
  color: white;
  font-weight: 500;
  padding: 2px 15px;
  left: 300px;
  right: 0;
}